{% extends "layout.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %} Form test {% endblock %}

{% block form_contents %}

<form action="{{url_for('form_country')}}" class="form form-horizontal" method="post" role="form">
	{{ form.csrf_token }}
	<div class="heading">
        	<h4 class="form-heading">Test Form</h4>
        </div>
	
	<div class="form-group">
		<div class="col-sm-10">
			{{ form.countrya.label(class="col-sm-4") }}
			<div class="col-sm-3">
 			{{ form.countrya(class="form-control") }} 
			</div>
		</div>
	</div>
			
	<div class="form-group">
		<div class="col-sm-10">
			{{ form.countryb.label(class="col-sm-4") }}
			<div class="col-sm-3">
 			{{ form.countryb(class="form-control") }} 
			</div>
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-10">
			{{ form.value.label(class="col-sm-4") }}
			<div class="col-sm-3">
       				{{ form.value(class="form-control", type="number")}}
			</div>
			<p class="col-sm-5 help-block">
        		{{ form.value.errors[0] }}
			</p>
			<p class="col-sm-5 help-block">
			{{ form.value.errors[1] }}
			</p>
		</div>
	</div>
	<button class="btn btn-success" type="submit"> Submit </button>
</form>
{% endblock %}
