{% extends "layout.html" %}
{% import "bootstrap/utils.html" as utils %}
{% block title %} Index {% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1> Welcome</h1>
    <p> Notre appllication pour mettre en avant les données des panamas papers
</p>
    <p><a href="{{ url_for('histo') }}">Histogramme en static</a></p>
    <p><a href="{{ url_for('histo_temp') }}">Histogramme en templating</a></p>
    <p><a href="{{ url_for('count_test_neo') }}">Une première connexion avec neo4j</a></p>
    <p><a href="{{ url_for('histo_count_neo') }}">Histogramme avec connexion à neo4j</a></p>
    <p><a href="{{ url_for('graph_countries') }}">Graphe des pays</a></p>
    <p><a href="{{ url_for('histo_count_countries') }}">Histogramme de visualisation par pays</a></p>
  </div>
</div>
{% endblock %}
   

