{% extends "bootstrap/base.html" %}

{% block html_attribs %} lang = "fr"{% endblock %}

{% block title %} Test {% endblock %}

{% import "bootstrap/fixes.html" as fixes %}

{% block head %}
{{ super() }}
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='css/test.css')}}">
{% endblock %}

{% block metas %}
<meta charset="utf-8">
{% endblock %}

{% block body %}
<div class="container-fluid">
	<div class="row">
    	<div class="col-sm-3 col-lg-2">
        	<nav class="navbar navbar-inverse navbar-fixed-side">
            	<div class="navbar-header">
      				<a class="navbar-brand" href="{{ url_for('index') }}">Home</a>
				</div>
    			<div class="navbar-collapse collapse">
    				<ul class="nav navbar-nav">
      		            
            	                	<li>
              		                	<a href="{{ url_for('histo') }}" title="En Static ">Histogramme en Static </a>
            	                	</li>
            	                	<li>
              		                	<a href="{{ url_for('histo_temp') }}" title="En Template">Histogramme en Template</a>
            	                	</li>
            	                	<li>
              		                	<a href="{{ url_for('histo_count_neo') }}" title="Avec connexion Neoj">Histogramme Avec connexion Neoj</a>
            	                	</li>
          	                
                                    	<li>
              		                    	<a href="{{ url_for('graph_pays') }}" title="Graphe des pays">Graphe des pays</a>
            	                    	</li>
            	                    	<li>
              		                    	<a href="{{ url_for('histo_count_countries') }}" title="Histogramme: Aretes sur les pays">Histogramme: Aretes sur les pays</a>
            	                    	</li>
                                </ul>
	            </div>
	        </nav>
        </div>
        <div class="col-sm-9 col-lg-10" id="mon_block">
		{% block content %}
		{% endblock %}
        </div>
    </div>
    
</div>
        

   
{% block scripts %}
{{super()}}
{% endblock %}

{% endblock %}
