{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} Form test {% endblock %}

{% block scripts %}
{{super()}}
<script src="https://d3js.org/d3.v4.min.js"></script>
   <script>

   var height = 1500;
   var width = 1500;
   var radius = 10;

   //-----------------------------------
   //----------variable svg-------------
   //-----------------------------------
   var svg = d3.select("#mon_block").append("svg")
   .attr("width",width)
   .attr("height",height);


   //--------------------------------------------
   //--------variable with the data inside------------
   //--------------------------------------------
  var graph = {{ data|tojson }}
  console.log(graph)

 var linkLength = 30*Math.sqrt(graph.links.length);

   //------------------------------------------
   //----------variable for the force----------
   //------------------------------------------
   var simulation = d3.forceSimulation()
       .force("link", d3.forceLink().distance(linkLength).id(function(d) { return d.id;}))
       .force("charge", d3.forceManyBody().strength(-8000))
       .force("center", d3.forceCenter(width / 2, height / 2));


   //--------------------------------------------
   //--------node's variable---------------------
   //--------------------------------------------
   var node = svg.append("g")//add a 'g' space
       .attr("class", "nodes")
     .selectAll("circle")
     .data(graph.nodes)//link node's data with the circle
     .enter()
     .append("circle")//put some circle inside 'g' space
       .attr("r", radius)
       .attr("fill", function(d){return selectColor(d)})
       .call(d3.drag()
           .on("start", dragstarted)
           .on("drag", dragged)
           .on("end", dragended));

    node.append("title")//add a title (it's the word wrote when your mouse stay on the circle) for each node
        .text(function(d) { return d.id; });


  //--------------------------------------------
  //--------node name's variable---------------------
  //--------------------------------------------
   var textNodes = svg.append("g")
          .attr("class","textNodes")
       .selectAll("text")
       .data(graph.nodes)
       .enter()
       .append("text")
        .attr("x", function(d){return d.x})
        .attr("y", function(d){return d.y})
        .text(function(d) {return d.id})
        .attr("font-family", "sans-serif")
        .attr("font-size", "14px")
        .attr("fill", "#555555");


   //--------------------------------------------
   //--------link's variable---------------------
   //--------------------------------------------
   var link = svg.selectAll("line")
     .data(graph.links)
     .enter()
     .append("line")
        .attr("id", function(d,i){return "link "+i})
        .style("stroke-width", 1)
        .style("stroke", "grey")
        .style("pointer-events", "none");


   //--------------------------------------------
   //--------link path's variable---------------------
   //--------------------------------------------
    var edgepaths = svg.selectAll(".edgepath")
            .data(graph.links)
            .enter()
            .append("path")
            .attr("class", "edgepath")
            //.attr("d", function(d){ return "M "+ d.source.x +" "+ d.source.y+" L "+ d.target.x +" "+d.target.y})
            .attr('fill-opacity', 0)
            .attr('stroke-opacity', 0)
            .attr("fill", "blue")
            .attr("stroke", "green")
            .attr("id", function(d,i) {return "edgepath"+i})
            .style("pointer-events", "none");


   //--------------------------------------------
   //--------link label's variable---------------
   //--------------------------------------------
    var edgelabels = svg.selectAll("edgelabel")
            .data(graph.links)
            .enter()
            .append('text')
            .style("pointer-events", "none")
            .attr('class', 'edgelabel')
            .attr('id', function(d){return ''+d.values})
            .attr('dx', 80)
            .attr('dy', 0)
            .attr('font-size', 10)
            .attr('fill', '#aaa');

//needed to print the text on the screen, add the value of this text
    edgelabels.append('textPath')
            .attr('xlink:href',function(d,i) {return '#edgepath'+i})
            .style("pointer-events", "none")
            .text(function(d,i){return ''+d.values});

//define the marker
     svg.append('defs')
        .append('marker')
             .attr('id','arrowhead')
             .attr('viewBox','-0 -5 10 10')
             .attr('refX',radius + 10)
             .attr('refY',0)
             //'markerUnits','strokeWidth')
             .attr('orient','auto')
             .attr('markerWidth',10)
             .attr('markerHeight',10)
             .attr('xoverflow','visible')
        .append('svg:path')
             .attr('d', 'M 0,-5 L 10 ,0 L 0,5')
             .attr('fill', '#ccc')
             .attr('stroke','#ccc');


   simulation
       .nodes(graph.nodes)
       .on("tick", ticked);

   simulation.force("link")
       .links(graph.links);


   function ticked() { //this function is used for the force
     link
         .attr("x1", function(d) { return border(d.source.x, width);})
         .attr("y1", function(d) { return border(d.source.y, height);})
         .attr("x2", function(d) { return border(d.target.x, width);})
         .attr("y2", function(d) { return border(d.target.y, height);});

     node
         .attr("cx", function(d) { return border(d.x, width); })
         .attr("cy", function(d) { return border(d.y, height); });

     textNodes
         .attr("x", function(d) {return border(d.x, width);})
         .attr("y", function(d) {return border(d.y, height);});
     edgepaths
         .attr('d', function(d) { return 'M '+border(d.source.x, width)
         +' '+border(d.source.y, height)
         +' L '+ border(d.target.x,width)
         +' '+ border(d.target.y,height)});

     edgelabels
         .attr('transform',function(d,i){
             if (d.target.x<d.source.x){
                 bbox = this.getBBox();
                 rx = bbox.x+bbox.width/2;
                 ry = bbox.y+bbox.height/2;
                 return 'rotate(180 '+rx+' '+ry+')';
                 }
             else {
                 return 'rotate(0)';
                 }
         });
     }

   function border(x,size){
      return Math.max(radius, Math.min(size - radius, x));
   }

   function selectColor(d){
     return " #A9C6DE";
   }

   function dragstarted(d) {
     if (!d3.event.active) simulation.alphaTarget(0.3).restart();
    d.fx = d.x;
    d.fy = d.y;
  }

  function dragged(d) {
    d.fx = d3.event.x;
    d.fy = d3.event.y;
  }

  function dragended(d) {
    if (!d3.event.active) simulation.alphaTarget(0);
    d.fx = null;
    d.fy = null;
  }

  </script>
{%endblock%}
